<!DOCTYPE html>
<html>

<head>

    <title>Weboard Test</title>


    <link href="support/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">


    <script src="/socket.io/socket.io.js"></script>

    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/underscore-min.js"></script>
    <script src="js/libs/backbone-min.js"></script>
    
    <script src="js/service.js"></script>
    <script src="js/main.js"></script>

</head>

<body>

    <div id="main" class="container">

        <div class="hero-unit landing">
            <h1>Weboard</h1>

            <a class="host btn btn-primary" href="#">Host</a>
            <a class="guest btn" href="#">Guest</a>
        </div>

    </div>

</body>


<div class="host-info thumbnails tmpl">
    <div class="span3">
        <a href="http://google.com" target="_blank" class="thumbnail">
            <img src="http://placekitten.com/g/100/100" alt="">
        </a>
        <pre></pre>
        <a class="link"></a>
    </div>
</div>


</html>
