<!DOCTYPE html>
<html>

<head>

    <title>Weboard Test</title>


    <link href="support/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">


    <script src="/socket.io/socket.io.js"></script>

    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/underscore-min.js"></script>
    <script src="js/libs/backbone-min.js"></script>
    
    <script src="js/service.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/tmpl.js"></script>
    <script src="js/main.js"></script>

</head>

<body>

    <div id="main" class="container">

        <div class="landing navbar">
            <div class="navbar-inner">
                <div class="container">

                    <div class="default">
                        <a class="host btn btn-large btn-primary">Host</a>
                        <a class="guest btn btn-large">Guest</a>
                    </div>

                    <div class="guesting">
                        <div class="form form-horizontal input-append">
                            <input class="text span3" type="text"><a class="join btn btn-primary">Join</a>
                        </div>
                        <a class="cancel btn">Cancel</a>
                    </div>

                </div>
              </div>
        </div>

    </div>

</body>

</html>
