<!DOCTYPE html>
<html>

<head>

    <title>Weboard Test</title>


    <link href="support/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">


    <script src="/socket.io/socket.io.js"></script>

    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/underscore-min.js"></script>
    <script src="js/libs/backbone-min.js"></script>
    
    <script src="js/service.js"></script>
    <script src="js/main.js"></script>

</head>

<body>

    <div id="main" class="container">

        <div class="navbar landing">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="host btn btn-large btn-primary">Host</a>
                    <a href="#" class="guest btn btn-large">Guest</a>
                </div>
              </div>
        </div>​


    </div>

</body>


<div class="host-info span2 tmpl">
    <a href="http://google.com" target="_blank" class="thumbnail">
        <img src="http://placekitten.com/g/100/100" alt="">
    </a>
    <p>
    <pre></pre>
    <a class="link"></a>
</div>

<div class="info-bar navbar navbar-fixed-top tmpl">
  <div class="navbar-inner">
    <div class="container">

        <div class="pull-left">
             <a href="http://google.com" target="_blank" class="span thumbnail">
                <img src="http://placekitten.com/g/100/100" alt="">
            </a>
            <div class="span">
                <pre>b</pre>
                <a>aaa</a>
            </div>
        </div>
        
        <div class="pull-right">
            <a href="http://google.com" target="_blank" class="thumbnail">
                <img src="http://placekitten.com/g/100/100" alt="">
            </a>
        
    </div>
  </div>
</div>

</html>
