body {
    padding-top: 40px;
}

.landing {

    padding-top: 100px;

    .container {
        text-align: center;

        a.btn {
            width: 80px;
            margin: 10px 3% 10px 0;
        }
    }
}

.info-bar {
    .info-block {
        padding-left: 8px;
    }
}
