body {
    padding-top: 40px;
}

.landing {

    padding-top: 100px;

    .container {
        text-align: center;

        button.btn {
            width: 80px;
            margin: 10px 3% 10px 0;
        }

        .default {
        }

        .guesting {
            display: none;

            .form {
                display: inline;
            }
        }
    }
}

.info-bar {
    .info-block {
        padding-left: 8px;
    }
}


.typing-bar {

    .container {

        button.btn {
            width: 80px;
            height: 46px;
        }

        .text, .join {
            margin: 10px 4px 10px 0;
        }
    }
}
